#contact-form {
	border-radius: 10px;
	background: #14141a;
	box-shadow: -6px -6px 12px #0d0d11, 6px 6px 12px #1b1b23;
	padding: 30px;
	margin-bottom: 30px;
}
.socials-list button {
	border: none;
	background: #1e276a;
	color: white;
	padding: 20px;
	transition: padding 0.3s;
	margin-top: 10px;
	width: 200px;
	display: block;
}
.socials-list button:hover {
	padding: 22px;
	border-radius: 0px;
	background: #1c2463;
	box-shadow: -7px -7px 17px #1a225d, 7px 7px 17px #1e2669;
}
/* From cssbuttons.io by @nikk7007 ---> boutton pour submit*/
#contact-submit {
	padding: 0.8em 1.8em;
	border: 2px solid #17C3B2;
	position: relative;
	overflow: hidden;
	background-color: transparent;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	transition: .3s;
	z-index: 1;
	font-family: inherit;
	color: #17C3B2;
}
#contact-submit::before {
	content: '';
	width: 0;
	height: 300%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background: #17C3B2;
	transition: .5s ease;
	display: block;
	z-index: -1;
}
#contact-submit:hover::before {
	width: 105%;
}
#contact-submit:hover {
	color: #111;
}