body, html {
	height: 100%;
	width: 100%;
	background-color: black;
	color: white;
}
#home {
	background-image: url("../assets/main-bg.jpg");
	height: 100%;
	padding: 0;
	width: 100%;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content-section {
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
}
a, a:hover {
	text-decoration: none;
	color: white;
}
#chevron {
	font-size: 30px;
	margin-top: 40px;
}
footer {
	padding: 50px;
	text-align: center;
	border-top: solid 1px white;
}
#projects {
	background-image: url("../assets/projects-bg.jpg");
	background-size: cover;
}
#projects button {
	margin-top: 25px;
}
/* navbar active section */
nav .active{
    border-bottom: white solid 1px;
}

/* loading animation*/
.no-js .lds-ripple { /*user has no javascript, won't display gif because js won't be able to remove*/
	display: none;
}


.js .lds-ripple { /*styling loading animation*/
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	transform: scale(2);
}